//= require_self
// = depend_on fontawesome-webfont.eot
// = depend_on fontawesome-webfont.svg
// = depend_on fontawesome-webfont.ttf
// = depend_on fontawesome-webfont.woff
// = depend_on FontAwesome.otf

$green: #7AB15D;
$topbar-bg-color: $green;
$topbar-dropdown-link-bg: lighten($green, 15%);
$topbar-link-bg-hover: darken($green, 15%);

@import "foundation/components/grid";
//@import "foundation/components/accordion";
@import "foundation/components/alert-boxes";
@import "foundation/components/block-grid";
//@import "foundation/components/breadcrumbs";
@import "foundation/components/button-groups";
@import "foundation/components/buttons";
@import "foundation/components/clearing";
@import "foundation/components/dropdown";
@import "foundation/components/dropdown-buttons";
//@import "foundation/components/flex-video";
@import "foundation/components/forms";
//@import "foundation/components/icon-bar";
@import "foundation/components/inline-lists";
//@import "foundation/components/joyride";
//@import "foundation/components/keystrokes";
@import "foundation/components/labels";
//@import "foundation/components/magellan";
//@import "foundation/components/orbit";
@import "foundation/components/pagination";
//@import "foundation/components/panels";
//@import "foundation/components/pricing-tables";
//@import "foundation/components/progress-bars";
//@import "foundation/components/range-slider";
@import "foundation/components/reveal";
//@import "foundation/components/side-nav";
@import "foundation/components/split-buttons";
//@import "foundation/components/sub-nav";
//@import "foundation/components/switches";
@import "foundation/components/tables";
@import "foundation/components/tabs";
@import "foundation/components/thumbs";
//@import "foundation/components/tooltips";
@import "foundation/components/top-bar";
@import "foundation/components/type";
//@import "foundation/components/offcanvas";
//@import "foundation/components/visibility";
$fa-font-path: ".";
@import "font-awesome";

#my-title {
    color: white;
    text-align: center;
    background-color: $green;
    margin-top: 0;
    padding-bottom: 6px;
    margin-bottom: 12px;
}

.requisicao-block {
    border: $green 1px solid;
    background: lighten($green, 45%);
    margin-bottom: 0.9375rem;
    padding: 6px;
    &:hover {
        border: darken($green, 10%) 1px solid;
        background: lighten($green, 44%);
    }
}
